#hub-links {
    padding: 2em;
    margin: 1em;
    background-color: rgba(43, 61, 70, 0.71);
    border-radius: 1em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    
    /* Display
    display: flex;
    flex-direction: column;
    align-items: center; */
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 10px auto 10px;
    align-items: center;
    justify-items: center;
}



.hub-link {
    background-color: rgba(223, 119, 28, .7);
    text-decoration: none;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform .1s ease-out, background-color .1s ease-out, box-shadow .1s ease-in;
}


.hub-link:hover {
    transform: scale(1.05);
    background-color: rgba(235, 135, 47, 0.7);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);

}




#hub-links a:nth-child(6) img{
    position: relative;
    right: 5px;
}
#hub-links a:nth-child(6) {
    cursor: pointer;
}



#hub-links div:nth-child(3),
#hub-links div:nth-child(4),
#hub-links div:nth-child(7),
#hub-links div:nth-child(8) {
    color: rgba(255, 255, 255, 0.50);
    font-family: blinker;
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 10px;
}
